.home {
  section {
    padding: 80px 20px;
  }

  h1 {
    font-size: 28px;
    line-height: 40px;
    margin: 20px 0;
  }

  p {
    font-size: 18px;
    line-height: 24px;
    margin: 20px 0;
  }

  input {
    padding: 10px;
    margin: 10px 0;
    width: 350px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    color: black;
    transition: all 0.3s;

    &:focus {
      outline: none;
      border-color: rgb(161, 161, 161);
    }
  }

  button {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 526px) {
  .home {
    form {
      display: flex;
      flex-direction: column;
    }

    input {
      width: auto;
      margin-bottom: 20px;
    }

    button {
      margin-left: 0;
    }
  }
}
