.result {
  .result-container {
    .title {
      display: grid;
      grid-template-columns: 1fr 10fr;
      .title-left {
        position: relative;
        background-color: white;
        border-radius: 100%;
        width: 50px;
        height: 50px;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .title-right {
        font-size: 18px;
        font-weight: bold;
        margin-left: 20px;
        text-align: left;

        h2 {
          font-size: 34px;
          line-height: 40px;
          text-transform: uppercase;
        }
      }
    }

    .result {
      margin: 20px 0;

      p {
        font-size: 16px;
        text-align: left;
        line-height: 22px;
      }

      #gauge-chart {
        position: relative;
        height: 100% !important;
        width: auto !important;
        svg {
          width: 100% !important;
          min-width: 250px !important;
        }

        .text-container {
          position: initial !important;

          .text {
            text-align: center;
            font-size: 16px;
            position: absolute;
            bottom: 10px;
            left: 50%;
            color: white;
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }

  .action {
    position: fixed;
    display: flex;
    right: -2px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 1000;
    flex-direction: column;
    gap: 10px;

    button {
      padding: 15px;
      writing-mode: vertical-lr;
    }

    button:nth-child(1) {
      transform: rotate(-180deg);
    }
  }
}

@media only screen and (max-width: 526px) {
  .result {
    .result-container {
      .title {
        .title-left {
          width: 40px;
          height: 40px;

          img {
            max-width: 25px;
          }
        }

        .title-right {
          font-size: 12px;

          h2 {
            font-size: 22px;
            line-height: 32px;
          }
        }
      }

      .result {
        margin: 10px 0;

        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }

    .action {
      button {
        padding: 7px;
      }
    }
  }
}
